<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>ForgotPassword</title>
  <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
  <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.bundle.min.js"></script>
</head>

<body>

<div class="container">
  <div class="row col-md-6 offset-md-3 mt-5">

    <!--Alert message-->
    <!--            <div th:if="${param.success}">-->
    <!--                <div class="alert alert-info">-->
    <!--                    You have successfully registered our app!-->
    <!--                </div>-->
    <!--            </div>-->

    <div class="card mt-4">
      <div class="form-group mb-3">

        <!--Logo-->
        <div class="col text-center mt-4">
          <img th:src="@{/img/logo.png}" width=auto height=45px>
        </div>
        <div class="card-body mt-3">


          <form
                  method="post"
                  role="form"
                  th:action="@{/register/save}"
                  th:object="${user}">

            <div class="form-group mb-3">
              <label class="form-label"></label>
              <input
                      class="form-control"
                      id="email"
                      name="email"
                      placeholder="&#9993;  Enter your email account"
                      type="email">
<!--                      th:field="*{email}"-->

<!--              />-->
<!--              <p th:errors = "*{email}" class="text-danger"-->
<!--                 th:if="${#fields.hasErrors('email')}"></p>-->
            </div>



            <div class="col text-center pt-4">
              <button class="btn btn-primary" type="submit">Password Reset</button>
            </div>
            <div class="col text-center">
              <span><a th:href="@{/login}">Back to Login?</a></span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>